@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.scss';

.viewport-height-100 {
    min-height: 100vh;
}

.h1 {
    font-size: 2rem;
}

.bi-check {
    font-size: 1.5rem;
    color: green;
}
